%h1= @restaurant.name

%p
  %strong
    Description:
  = @restaurant.description


%p
  %strong
    Full address:
  = @restaurant.full_address

%p
  %strong
    Phone number:
  = @restaurant.phone_number 


= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{@restaurant.full_address}&zoom=13&size=600x300&maptype=roadmap&markers=color:red%7C#{@restaurant.full_address}")

%br

= link_to 'Edit', edit_restaurant_path 
= link_to 'Destroy', @restaurant, method: :delete, data: { confirm: 'Are you sure to delete?' }
= link_to 'Back', restaurants_path 