<h1>
  <%= @restaurant.name %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Full address:</strong>
  <%= @restaurant.full_address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>


<%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{@restaurant.full_address}&zoom=13&size=600x300&maptype=roadmap&markers=color:red%7C#{@restaurant.full_address}") %>

</br>

<%= link_to 'Edit', edit_restaurant_path %> |
<%= link_to 'Destroy', @restaurant, method: :delete, data: { confirm: 'Are you sure?' }  %> |
<%= link_to 'Back', restaurants_path %>