<!DOCTYPE html>
<html>
<head>
  <title>RestaurantApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if owner_signed_in? %>
		<%= link_to "Edit Profile", edit_owner_registration_path %>
		<%= link_to "Log Out", destroy_owner_session_path, method: :delete %>
	<% else %>
		<%= link_to "Sign Up", new_owner_registration_path %>
		<%= link_to "Log In", new_owner_session_path %>
	<% end %>

	
	</p>

<% flash.each do |name, message| %>
	<div class="<%= name %>"><%= message %></div>
<% end %>
	
<%= yield %>

</body>
</html>
